.h-container {
    display: flex;
    flex-direction: row;
    gap: .4em;
    justify-content: space-around;
}

.h-container p {
    text-align: left;
}

.slides>section {
    gap: .5em;
}

pre.code-wrapper {
    width: 100%;
}